<!DOCTYPE html>
<html lang="en">
<div class="d-flex justify-content-between mb-3">
  <h1>Outfits</h1>
  <%= link_to 'New Outfit', new_outfit_path, class: "btn btn-primary mb-3 mt-2", style:"background-color:#81ADC8; border: none;" %>
</div>

<% if @outfits.empty? %>
  <div class="alert alert-info mt-4 text-center">
    No outfits to display. You haven't made any outfits yet!
  </div>
<% else %>
  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= outfit.name %></h5>
            <p class="card-text">Created on: <%= outfit.created_at.strftime("%b %d, %Y") %></p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <%= link_to 'Show', outfit_path(outfit), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_outfit_path(outfit), class: "btn btn-warning" %>
            <%= link_to 'Delete', confirm_destroy_outfit_path(outfit), class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>



    


<footer class="bg-dark text-white text-center py-3 mt-5">
  <div class="container">
    <p class="mb-1">© 2025 Outfit Generator by Faith Do, Crystal Chen, Natalie Hong, Areg Aslanyan</p>
    <div>
      <%= link_to "Home", root_path, class: "text-white me-3" %>
      <%= link_to "Catalog", catalog_path, class: "text-white me-3" %>
      <%= link_to "Add Item", new_clothing_path, class: "text-white me-3" if user_signed_in? %>
      <a href="mailto:outfitgen@gmail.com" class="text-white">Contact</a>
    </div>
  </div>
</footer>
</html>
