<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-4">
        <h2 class="mb-4 text-center">Create a New Outfit</h2>

        <%= form_with(model: @outfit, local: true) do |form| %>
          <%= hidden_field_tag :clothing_id, @clothing_id if @clothing_id.present? %>   
               
          <% if @outfit.errors.any? %>
            <div class="alert alert-danger">
              <h5 class="mb-2">Please fix the following errors:</h5>
              <ul class="mb-0">
                <% @outfit.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :name, "Outfit Name", class: "form-label" %>
            <%= form.text_field :name, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :description, "Outfit Description", class: "form-label" %>
            <%= form.text_field :description, class: "form-control" %>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <%= form.submit "Create Outfit", class: "btn btn-success" %>
            <%= link_to 'Back', request.referer || outfits_path, class: "btn btn-secondary mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

