<h1><%= @outfit.name %></h1>

<p><strong>Description:</strong> <%= @outfit.description %></p>

<h3>Clothing Items in this Outfit:</h3>
<% if @clothing_items.any? %>
  <div class="row">
    <% @outfit.outfit_items.includes(:clothing).each do |item| %>
      <% clothing = item.clothing %>
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm mb-4">
          <div class="card-body text-center">
            <h5 class="card-title"><%= clothing.name %></h5>
            <p class="card-text"><%= clothing.category %></p>
            <% if clothing.image.attached? %>
                <%= image_tag clothing.image, class: "img-fluid rounded mb-2", style: "max-height: 200px;", alt: "Image of #{@clothing.name} - #{@clothing.brand} #{@clothing.category}" %>
            <% else %>
                <div class: "img-fluid rounded mb-2", style: "max-height: 200px;">
                <p class="text-muted">No image uploaded.</p>
                </div>
            <% end %>

            <%= form_with url: outfit_outfit_item_path(@outfit, item), method: :delete, local: true do %>
                <%= submit_tag "Remove from Outfit", class: "btn btn-danger btn-sm mt-2" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>This outfit doesn't have any clothing items yet.</p>
<% end %>


<div>
    <%= link_to 'â† Back', outfits_path, class: "btn btn-secondary mt-3" %>
</div>